body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
}

.card {
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h2 {
  margin: 10px 0;
}

.card p {
  color: #555;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #0d6efd;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.card a:hover {
  background: #084298;
}
